<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/styles/global.css">
    <link rel="stylesheet" href="/styles/home.css">
    <title>Francisco | Portifólio</title>
</head>

<body>
    <div class="page-home">
        <nav class="nav">
            <div class="items-logo">
                <img class="logo" src="/images/android-chrome-512x512.png" alt="">
                <p class="txt-titulo">Portifólio</p>
            </div>
            <ol class="nav-links">
                <li class="nav-item"><a id="item" href="#">home</a></li>
                <li class="nav-item"><a id="item" href="#">about</a></li>
                <li class="nav-item"><a id="item" href="#">projects</a></li>
                <li class="nav-item"><a class="contact-us" href="#">contact-me</a></li>
            </ol>
        </nav>
        <main class="main-page-home">
            <div class="container-main">
                <div class="left-page">
                    <h1>Hi, i´m Francisco<br>Web Developer and <br> UX/UI Designer</h1>

                    <details>
                        <summary class="btn-hide-me">Show-me</summary>
                        <p class="sub-description">I like to create creative websites and bring<br> identity to my
                            clients.</p>
                    </details>
                </div>
                <div class="right-page">
                    <img class="img-foto-perfil" src="/images/foto-perfil.png" alt="">
                </div>
            </div>

            <div class="to-scroll">
                <img src="" alt="">
                <p class="txt-scroll">To Scroll >>></p>
            </div>
        </main>
    </div>

</body>

</html>