<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- styles -->
    <link rel="stylesheet" href="/styles/global.css">
    <link rel="stylesheet" href="/styles/home.css">
    <!-- fav icons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicons/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

    <title>Francisco | Portifólio</title>
</head>

<body>
    <div class="page-home">
        <!-- nav -->
        <nav class="nav">
            <div class="items-logo">
                <img class="logo" src="/images/android-chrome-512x512.png" alt="">
                <p class="txt-titulo">Portifólio</p>
            </div>
            <ol class="nav-links">
                <li class="nav-item"><a id="item" href="#">home</a></li>
                <li class="nav-item"><a id="item" href="#">about</a></li>
                <li class="nav-item"><a id="item" href="#">projects</a></li>
                <li class="nav-item"><a class="contact-me" href="#">contact-me</a></li>
            </ol>
        </nav>
        <!-- main -->
        <main class="main-page-home">
            <!-- lado esquedo -->
            <div class="left-page">
                <h1 class="oi">Hi, i am Francisco Cruz<br>Web Development and <br>UX/UI Designer</h1>
                <details>
                    <summary class="btn-hide-me">Show-me</summary>
                    <p class="sub-description">I like to create creative websites and bring<br> identity to my
                        clients.</p>
                </details>
            </div>
            <!-- lado direito -->
            <div class="right-page">
                <img class="img-foto-perfil" src="/images/foto-perfil.png" alt="">

            </div>
        </main>
    </div>
</body>

</html>