<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- styles -->
    <link rel="stylesheet" href="../styles/global.css">

    <!-- fav icons -->
    <link rel="apple-touch-icon" sizes="180x180" href="../images/favicons/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../images/favicon-16x16.png">


    <title>Home</title>
</head>

<body>
    <nav class="nav">
        <div class="items-logo">
            <img class="logo" src="../images/android-chrome-512x512.png" alt="">
            <p class="txt-titulo">Portifólio</p>
        </div>
        <ol class="nav-links">
            <li class="nav-item"><a id="item" href="#">Início</a></li>
            <li class="nav-item"><a id="item" href="about.html">Sobre</a></li>
            <li class="nav-item"><a id="item" href="projects.html">Projetos</a></li>
            <li class="nav-item"><a class="contact-me" href="#">Contate-me</a></li>
        </ol>
    </nav>



    <div class="page-home">

        <!-- lado esquedo -->
        <div class="left-page">
            <h1>Olá, sou Francisco Cruz<br>Desenvolvedor Web e <br>Designer de Interfaces</h1>
            <h3 class="sub-description">Interferfaces e sites que trazem identidade.</h3>
            <button class="btn-read-more">Ver Mais</Button>
        </div>
        <!-- lado direito -->
        <div class="right-page">
            <img class="foto-perfil-home" src="../images/foto-perfil.png" alt="">
        </div>

    </div>




    <!-- section about  -->
    <div class="about-section">
        <h1 class="titulo-page">Sobre</h1>
        <di class="main-page-about">

            <div class="perfil">
                <div class="bg-foto">
                    <img class="foto-perfil-about" src="../images/foto-perfil.png" alt="">
                </div>
                <div class="info-textos">
                    <p><b>Nome:</b>Francisco Cruz </p>
                    <p><b>Nasc:</b>27 de maio de 2002 </p>
                    <p><b>Endereço:</b>Jucurutu,RN - Brasil</p>
                    <p><b>Telefone:</b>+55 (84) 996452268</p>
                    <p><b>E-mail:</b>franaraujosilva2017@gmail.com</p>
                </div>

                <div class="sociais">
                    <a href="https://github.com/francisco-cruz" target="_blank">
                        <svg class="iconSociais" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                            stroke-linecap="round" stroke-linejoin="round" class="feather feather-github">
                            <path
                                d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22">
                            </path>
                        </svg>

                    </a>
                    <a href="https://www.linkedin.com/in/francisco-silva-227a02217/" target="_blank">

                        <svg class="iconSociais" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                            stroke-linecap="round" stroke-linejoin="round" class="feather feather-linkedin">
                            <path d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z">
                            </path>
                            <rect x="2" y="9" width="4" height="12"></rect>
                            <circle cx="4" cy="4" r="2">
                            </circle>
                        </svg>
                    </a>

                    <a href="https://www.instagram.com/cisco__cruz/" target="_blank">

                        <svg class="iconSociais" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                            stroke-linecap="round" stroke-linejoin="round" class="feather feather-instagram">
                            <rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect>
                            <path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z">
                            </path>
                            <line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="about-items-right">
                <div class="foco">
                    <h2>Foco de Estudo</h2>
                    <h3 class="habilidades">Desenvolvimento Web</h3>
                    <ol class="lista-habilidades">
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>JavaScripts</li>
                        <li>PHP</li>
                    </ol>

                    <h3 class="habilidades" >Designer de Interfaces</h3>
                    <ol class="lista-habilidades">
                        <li>UI Design</li>
                        <li>UX DeSign</li>
                        <li>Product Design</li>
                        <li>User Interface</li>
                    </ol>
                </div>

                <div class="algo">
                    <h2>Outros conhecimentos</h2>
                    <h3 class="habilidades">Linguagens de Programação</h3>
                    <ol class="lista-habilidades">
                        <li>Python</li>
                        <li>Java</li>
                        <li>C#</li>
                    </ol>
                    <h3 class="habilidades">Automação Web</h3>
                    <p class="lista-habilidades">Anaconda - Python</p>
                </div>

            </div>

    </div>
    </div>




    <!-- projects -->




    <div class="page-projects">
        <h1 class="titulo-projects">Projetos</h1>
        <div class="main-projects-page">

            <div class="resume-projects">
                <h2 class="titulo-aba">Resumo</h2>
                <div class="resumes" id="ResumeSmart">
                    <p>A plataforma Smart Library tem o proposito de facilitar a interação dos alunos do IFRN
                        Campus-Caicó
                        com a Biblioteca, trazendo alternativas digitais para o acesso de seus recursos e sendo uma
                        maneira competente de organizar o sistema.
                        Com a aplicação é possível ver antes mesmo de sair de casa se as ferramentas que irá utilizar na
                        Biblioteca estão disponíveis, como as salas e os computadores, podendo efetuar suas reservas e
                        só aí
                        locomover-se, desta forma os alunos terão o acesso ao ambiente de uma maneira organizada,
                        planejada
                        e de fato certa.
                    </p>
                </div>
                <div class="resumes" id="ResumeCinemax">
                    <p>Cinemax é um Aplicativo fictício que se aproxima de uma Bilheteria Virtual. Em tempos de
                        Pandemia,
                        formas de
                        remotas de fazer tarefas do dia-a-dia são sempre muito bem vindas.
                    </p>
                </div>
                <div class="resumes" id="ResumeAnimals">
                    <p>Animals é um projeto desenvolvido com a finalidade de arrecadar Doações ou até mesmo novos lares
                        para
                        animaizinhs de Rua.
                    </p>
                </div>

            </div>
            <div class="projects">
                <!-- Tab links -->
                <div class="tab">
                    <button class="tablinks" onclick="openProject(event, 'Smart', 'ResumeSmart')" id="defaultOpen">Smart
                        Library</button>
                    <button class="tablinks" onclick="openProject(event, 'Cinemax', 'ResumeCinemax')">Cinemax</button>
                    <button class="tablinks" onclick="openProject(event, 'Animals', 'ResumeAnimals')">Animals</button>
                </div>
                <!-- Tab content -->
                <div id="Smart" class="tabcontent">
                    <!-- titulo do projeto -->
                    <h1 class="titulo-projeto">Smart Library</h1>
                    <h2 class="subtitulo-projeto">Sistema de Automação de Bibliotecas</h2>
                    <!-- sessoes -->
                   
                    <details class="details-objetivo">
                        <summary class="titulo-sumary">Ferramentas ultilizadas</summary>
                        <div class="iconesFerramentas">

                            <div class="iconFerramenta">
                                <img src="../images/icons/atom.png" alt="ícone react node">
                                <p>React</p>
                            </div>
                            <div class="iconFerramenta">
                                <img src="../images/icons/postgre.png" alt="ícone postgre">
                                <p>Postgre</p>
                            </div>
                            <div class="iconFerramenta">
                                <img src="../images/icons/figma.png" alt="ícone figma">
                                <p>Figma</p>
                            </div>
                        </div>
                        
                    </details>
                    <details class="details-objetivo">
                        <summary class="titulo-sumary">Usabilidade</summary>
                        <p class="conteudo-sumary" id="conteudo-sumary-usabilidade">Meios ultilizados para
                            integrar usabilidade ao Projeto</p>
                        <details class="details-secundario">
                            <summary class="titulo-secundario-sumary">Fontes & Cores</summary>
                            <img id="fontesSmart" src="../images/fontesSmart.PNG"
                                alt="foto mostrando as fontes e cores ultilizadas">
                    
                        </details>
                        <details class="details-secundario">
                            <summary class="titulo-secundario-sumary">Layout & Navegação</summary>
                            <p class="conteudo-secundario-sumary">Porque usamos essa navegação..</p>
                            <div class="img-navegacao">
                                <img class="navSmart" src="../images/navSmart.PNG" alt="">
                                <img class="navSmart" src="../images/layoutSmart.PNG" alt="">
                                <p class="conteudo-secundario-sumary">Foi usado de base a ferramenta <a class="linkGS"
                                        href="https://classroom.google.com/h" target="_blank">Google Classroom</a>,
                                    que os alunos da instituição fazem uso e estão familiarizados, por isso
                                    usar um Layout semelhante, ficaria mais facil para os usuários (os própios alunos)
                                    assimilarem as funcionalidades.
                                </p>
                            </div>
                        </details>

                    </details>
                    <details class="details-objetivo">
                        <summary class="titulo-sumary">Considerações finais</summary>
                        <p class="conteudo-sumary" id="texto-final">Smart Library foi o meu primeiro projeto, foi onde
                            de fato comecei a desenvolver páginas Web e
                            ao mesmo tempo me descobrir como Designer de Interfaces. O processo de construção foi
                            bastante gradual, desde as primeiras
                            telinhas desalinhadas até a plataforma final. Desenvolver Smart Library sem dúvidas foi um
                            abridor de portas para todos os desenvoldores,
                            pois todos eramos inciantes, mas com esforço e muito estudo conseguimos entregar o melhor
                            trabalho possível.
                        </p>
                    </details>
                </div>

                <div id="Cinemax" class="tabcontent">
                    <!-- titulo do projeto -->
                    <h1 class="titulo-projeto">Cinemax</h1>
                    <h2 class="subtitulo-projeto">Aplicativo de Bilheteria Online</h2>
                    <!-- sessoes -->
                    <details class="details-objetivo">
                        <summary class="titulo-sumary">Objetivo</summary>
                        <p class="conteudo-sumary">O objetivo é...</p>
                    </details>
                    <details class="details-objetivo">
                        <summary class="titulo-sumary">Ferramentas ultilizadas</summary>
                        <p class="conteudo-sumary">As ferramentas ultilizadas são...</p>
                    </details>
                    <details class="details-objetivo">
                        <summary class="titulo-sumary">Usabilidade</summary>
                        <p class="conteudo-sumary" id="conteudo-sumary-usabilidade">esses foram os metodos ultilizados
                            para
                            a usabilidade do projeto</p>

                        <details class="details-secundario">
                            <summary class="titulo-secundario-sumary">Fontes e cores</summary>
                            <p class="conteudo-secundario-sumary"> Porque usamos essas cres e fontes...</p>
                        </details>
                        <details class="details-secundario">
                            <summary class="titulo-secundario-sumary">Layout e navegação</summary>
                            <p class="conteudo-secundario-sumary">Porque usamos essa navegação..</p>
                        </details>
                    </details>
                    <details class="details-objetivo">
                        <summary class="titulo-sumary">Considerações finais</summary>
                        <p class="conteudo-sumary">Minha opiniçao sovre o projeto, o que ele acrescentou na minha
                            experienci
                            (como programaador)..</p>
                    </details>
                </div>

                <div id="Animals" class="tabcontent">
                    <!-- titulo do projeto -->
                    <h1 class="titulo-projeto">Animals</h1>
                    <h2 class="subtitulo-projeto">Sistema de Adoçao de Pets</h2>
                    <!-- sessoes -->
                    <details class="details-objetivo">
                        <summary class="titulo-sumary">Objetivo</summary>
                        <p class="conteudo-sumary">O objetivo é...</p>
                    </details>
                    <details class="details-objetivo">
                        <summary class="titulo-sumary">Ferramentas ultilizadas</summary>
                        <p class="conteudo-sumary">As ferramentas ultilizadas são...</p>
                    </details>
                    <details class="details-objetivo">
                        <summary class="titulo-sumary">Usabilidade</summary>
                        <p class="conteudo-sumary" id="conteudo-sumary-usabilidade">esses foram os metodos ultilizados
                            para
                            a usabilidade do projeto</p>

                        <details class="details-secundario">
                            <summary class="titulo-secundario-sumary">Fontes e cores</summary>
                            <p class="conteudo-secundario-sumary"> Porque usamos essas cres e fontes...</p>
                        </details>
                        <details class="details-secundario">
                            <summary class="titulo-secundario-sumary">Layout e navegação</summary>
                            <p class="conteudo-secundario-sumary">Porque usamos essa navegação..</p>
                        </details>
                    </details>
                    <details class="details-objetivo">
                        <summary class="titulo-sumary">Considerações finais</summary>
                        <p class="conteudo-sumary">Minha opiniçao sovre o projeto, o que ele acrescentou na minha
                            experienci
                            (como programaador)..</p>
                    </details>
                </div>
            </div>
        </div>
    </div>



    <script src="../scripts/tabs.js"> </script>

</body>

</html>