<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/styles/global.css">
    <link rel="stylesheet" href="/styles/projects.css">
    <link rel="stylesheet" href="/styles/details.css">
    <link rel="stylesheet" href="/styles/iconesFerramentas.css">
    <!-- fav icons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicons/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">


    <title>Projects</title>
</head>

<body>
    <div class="page-projects">
        <div class="resume-projects">
            <h1 class="titulo-aba">Resume</h1>
            <div class="resumes" id="ResumeSmart">
                <p>Smart Lybrary é uma Aplicação desenvolvida com a finalidade de automatizar a Biblioteca do IFRN
                    Campus-Caicó, na qual é possível reservar salas de estudos e verificar a
                    disponibilidade de Computadores antes mesmo de sair de casa.
                </p>
            </div>
            <div class="resumes" id="ResumeCinemax">
                <p>Cinemax é um Aplicativo fictício que se aproxima de uma Bilheteria Virtual. Em tempos de Pandemia,
                    formas de
                    remotas de fazer tarefas do dia-a-dia são sempre muito bem vindas.
                </p>
            </div>
            <div class="resumes" id="ResumeAnimals">
                <p>Animals é um projeto desenvolvido com a finalidade de arrecadar Doações ou até mesmo novos lares para
                    animaizinhs de Rua.
                </p>
            </div>

        </div>
        <div class="projects">
            <h1 class="titulo-aba">Projects</h1>
            <!-- Tab links -->
            <div class="tab">
                <button class="tablinks" onclick="openProject(event, 'Smart', 'ResumeSmart')" id="defaultOpen">Smart
                    Lybrary</button>
                <button class="tablinks" onclick="openProject(event, 'Cinemax', 'ResumeCinemax')">Cinemax</button>
                <button class="tablinks" onclick="openProject(event, 'Animals', 'ResumeAnimals')">Animals</button>
            </div>
            <!-- Tab content -->
            <div id="Smart" class="tabcontent">
                <!-- titulo do projeto -->
                <h1 class="titulo-projeto">Smart Library</h1>
                <h2 class="subtitulo-projeto">Sistema de Automação de Bibliotecas</h2>
                <!-- sessoes -->
                <details class="details-objetivo">
                    <summary class="titulo-sumary">Objetivo</summary>
                    <p class="conteudo-sumary">Problemática: Os alunos se descolam de suas casas sem a
                        certeza da disponibilidade dos recursos da Biblioteca do IFRN Campus-Caicó.</p>
                    <br>
                    <p class="conteudo-sumary">Solução: Desenvolver um sistema de automação dos recursos da Biblioteca, para que os
                        alunos não precisem sair de casa para reservar horários em salas de estudo e/ou verificar
                        a disponibilidade de Computadores</p>
                </details>
                <details class="details-objetivo">
                    <summary class="titulo-sumary">Ferramentas ultilizadas</summary>
                    <div class="iconesFerramentas">
                        
                        <div class="iconFerramenta">
                            <img src="/images/icons/atom.png" alt="">
                            <p>React</p>
                        </div>
                        <div class="iconFerramenta">
                            <img src="/images/icons/postgre.png" alt="">
                            <p>Postgre</p>
                        </div>
                        <div class="iconFerramenta">
                            <img src="/images/icons/figma.png" alt="">
                            <p>Figma</p>
                        </div>
                    </div>
                    <p class="conteudo-sumary">React: Front-end</p><br>
                    <p class="conteudo-sumary">Postgre: Banco de dados e comunicação com o front</p><br>
                    <p class="conteudo-sumary">Figma: Prototipos de Baixa e Alto fidelidade</p>
                </details>
                <details class="details-objetivo">
                    <summary class="titulo-sumary">Usabilidade</summary>
                    <p class="conteudo-sumary" id="conteudo-sumary-usabilidade">esses foram os metodos ultilizados para
                        a usabilidade do projeto</p>

                    <details class="details-secundario">
                        <summary class="titulo-secundario-sumary">Fontes e cores</summary>
                        <p class="conteudo-secundario-sumary"> Porque usamos essas cres e fontes...</p>
                    </details>
                    <details class="details-secundario">
                        <summary class="titulo-secundario-sumary">Layout e navegação</summary>
                        <p class="conteudo-secundario-sumary">Porque usamos essa navegação..</p>
                    </details>
                </details>
                <details class="details-objetivo">
                    <summary class="titulo-sumary">Considerações finais</summary>
                    <p class="conteudo-sumary">Minha opiniçao sovre o projeto, o que ele acrescentou na minha experienci
                        (como programaador)..</p>
                </details>
            </div>

            <div id="Cinemax" class="tabcontent">
                <!-- titulo do projeto -->
                <h1 class="titulo-projeto">Cinemax</h1>
                <h2 class="subtitulo-projeto">Aplicativo de Bilheteria Online</h2>
                <!-- sessoes -->
                <details class="details-objetivo">
                    <summary class="titulo-sumary">Objetivo</summary>
                    <p class="conteudo-sumary">O objetivo é...</p>
                </details>
                <details class="details-objetivo">
                    <summary class="titulo-sumary">Ferramentas ultilizadas</summary>
                    <p class="conteudo-sumary">As ferramentas ultilizadas são...</p>
                </details>
                <details class="details-objetivo">
                    <summary class="titulo-sumary">Usabilidade</summary>
                    <p class="conteudo-sumary" id="conteudo-sumary-usabilidade">esses foram os metodos ultilizados para
                        a usabilidade do projeto</p>

                    <details class="details-secundario">
                        <summary class="titulo-secundario-sumary">Fontes e cores</summary>
                        <p class="conteudo-secundario-sumary"> Porque usamos essas cres e fontes...</p>
                    </details>
                    <details class="details-secundario">
                        <summary class="titulo-secundario-sumary">Layout e navegação</summary>
                        <p class="conteudo-secundario-sumary">Porque usamos essa navegação..</p>
                    </details>
                </details>
                <details class="details-objetivo">
                    <summary class="titulo-sumary">Considerações finais</summary>
                    <p class="conteudo-sumary">Minha opiniçao sovre o projeto, o que ele acrescentou na minha experienci
                        (como programaador)..</p>
                </details>
            </div>

            <div id="Animals" class="tabcontent">
                <!-- titulo do projeto -->
                <h1 class="titulo-projeto">Animals</h1>
                <h2 class="subtitulo-projeto">Sistema de Adoçao de Pets</h2>
                <!-- sessoes -->
                <details class="details-objetivo">
                    <summary class="titulo-sumary">Objetivo</summary>
                    <p class="conteudo-sumary">O objetivo é...</p>
                </details>
                <details class="details-objetivo">
                    <summary class="titulo-sumary">Ferramentas ultilizadas</summary>
                    <p class="conteudo-sumary">As ferramentas ultilizadas são...</p>
                </details>
                <details class="details-objetivo">
                    <summary class="titulo-sumary">Usabilidade</summary>
                    <p class="conteudo-sumary" id="conteudo-sumary-usabilidade">esses foram os metodos ultilizados para
                        a usabilidade do projeto</p>

                    <details class="details-secundario">
                        <summary class="titulo-secundario-sumary">Fontes e cores</summary>
                        <p class="conteudo-secundario-sumary"> Porque usamos essas cres e fontes...</p>
                    </details>
                    <details class="details-secundario">
                        <summary class="titulo-secundario-sumary">Layout e navegação</summary>
                        <p class="conteudo-secundario-sumary">Porque usamos essa navegação..</p>
                    </details>
                </details>
                <details class="details-objetivo">
                    <summary class="titulo-sumary">Considerações finais</summary>
                    <p class="conteudo-sumary">Minha opiniçao sovre o projeto, o que ele acrescentou na minha experienci
                        (como programaador)..</p>
                </details>

            </div>

        </div>

    </div>
    <script src="/scripts/tabs.js"></script>
</body>

</html>