<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/styles/global.css">
    <link rel="stylesheet" href="/styles/projects.css">
    <link rel="stylesheet" href="/styles/details.css">
    <link rel="stylesheet" href="/styles/smart library/ferramentasSmart.css">
    <link rel="stylesheet" href="/styles/smart library/usabilidadeSmart.css">
    <link rel="stylesheet" href="/styles/smart library/navegacaoSmart.css">

    <!-- fav icons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicons/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
    <title>Projects</title>
</head>

<body>
    <div class="page-projects">
        <div class="resume-projects">
            <h1 class="titulo-aba">Resume</h1>
            <div class="resumes" id="ResumeSmart">
                <p>A plataforma Smart Library tem o proposito de facilitar a interação dos alunos do IFRN Campus-Caicó
                    com a Biblioteca, trazendo alternativas digitais para o acesso de seus recursos e sendo uma
                    maneira competente de organizar o sistema.
                    Com a aplicação é possível ver antes mesmo de sair de casa se as ferramentas que irá utilizar na
                    Biblioteca estão disponíveis, como as salas e os computadores, podendo efetuar suas reservas e só aí
                    locomover-se, desta forma os alunos terão o acesso ao ambiente de uma maneira organizada, planejada
                    e de fato certa.
                </p>
            </div>
            <div class="resumes" id="ResumeCinemax">
                <p>Cinemax é um Aplicativo fictício que se aproxima de uma Bilheteria Virtual. Em tempos de Pandemia,
                    formas de
                    remotas de fazer tarefas do dia-a-dia são sempre muito bem vindas.
                </p>
            </div>
            <div class="resumes" id="ResumeAnimals">
                <p>Animals é um projeto desenvolvido com a finalidade de arrecadar Doações ou até mesmo novos lares para
                    animaizinhs de Rua.
                </p>
            </div>

        </div>
        <div class="projects">
            <h1 class="titulo-aba">Projects</h1>
            <!-- Tab links -->
            <div class="tab">
                <button class="tablinks" onclick="openProject(event, 'Smart', 'ResumeSmart')" id="defaultOpen">Smart
                    Library</button>
                <button class="tablinks" onclick="openProject(event, 'Cinemax', 'ResumeCinemax')">Cinemax</button>
                <button class="tablinks" onclick="openProject(event, 'Animals', 'ResumeAnimals')">Animals</button>
            </div>
            <!-- Tab content -->
            <div id="Smart" class="tabcontent">
                <!-- titulo do projeto -->
                <h1 class="titulo-projeto">Smart Library</h1>
                <h2 class="subtitulo-projeto">Sistema de Automação de Bibliotecas</h2>
                <!-- sessoes -->
                <details class="details-objetivo">
                    <summary class="titulo-sumary">Objetivo</summary>
                    <p class="conteudo-sumary">Problemática: Os alunos se descolam de suas casas sem a
                        certeza da disponibilidade dos recursos da Biblioteca do IFRN Campus-Caicó.</p>
                    <br>
                    <p class="conteudo-sumary">Solução: Desenvolver um sistema de automação dos recursos da Biblioteca,
                        para que os
                        alunos não precisem sair de casa para reservar horários em salas de estudo e/ou verificar
                        a disponibilidade de Computadores</p>
                </details>
                <details class="details-objetivo">
                    <summary class="titulo-sumary">Ferramentas ultilizadas</summary>
                    <div class="iconesFerramentas">

                        <div class="iconFerramenta">
                            <img src="/images/icons/atom.png" alt="ícone react node">
                            <p>React</p>
                        </div>
                        <div class="iconFerramenta">
                            <img src="/images/icons/postgre.png" alt="ícone postgre">
                            <p>Postgre</p>
                        </div>
                        <div class="iconFerramenta">
                            <img src="/images/icons/figma.png" alt="ícone figma">
                            <p>Figma</p>
                        </div>
                    </div>
                    <p class="conteudo-sumary">React: Front-end</p><br>
                    <p class="conteudo-sumary">Postgre: Banco de dados e comunicação com o front</p><br>
                    <p class="conteudo-sumary">Figma: Prototipos de Baixa e Alto fidelidade</p>
                </details>
                <details class="details-objetivo">
                    <summary class="titulo-sumary">Usabilidade</summary>
                    <p class="conteudo-sumary" id="conteudo-sumary-usabilidade">Meios ultilizados para
                        integrar usabilidade ao Projeto</p>
                    <details class="details-secundario">
                        <summary class="titulo-secundario-sumary">Fontes & Cores</summary>
                        <img id="fontesSmart" src="/images/fontesSmart.PNG"
                            alt="foto mostrando as fontes e cores ultilizadas">
                        <p class="conteudo-secundario-sumary">A combinação das fontes <a class="textoslinks"
                                href="https://fonts.google.com/specimen/Ubuntu" target="_blank">Ubuntu </a> e <a
                                class="textoslinks" href="https://fonts.google.com/?query=open+sans"
                                target="_blank">Opens Sans </a>
                            passa uma sensação de dinamicidade e modernidade, além de possuir uma
                            leitura bastante confortável e agradável aos olhos. Essa associação é perfeita para sistemas
                            que envolve aprendizado, pois instiga os usuários a continuarem lendo o conteúdo.</p>
                        <p class="conteudo-secundario-sumary">As cores da plataforma foram pensadas tendo como base o
                            meio acadêmico em geral e a
                            psicologia das cores, pois tons de azul trazem a sensação de calma, confiança e segurança
                            exatamente o que os alunos precisam sentir em uma plataforma digital.
                        </p>
                    </details>
                    <details class="details-secundario">
                        <summary class="titulo-secundario-sumary">Layout & Navegação</summary>
                        <p class="conteudo-secundario-sumary">Porque usamos essa navegação..</p>
                        <div class="img-navegacao">
                            <img class="navSmart" src="/images/navSmart.PNG" alt="">
                            <img class="navSmart" src="/images/layoutSmart.PNG" alt="">
                            <p class="conteudo-secundario-sumary">Foi usado de base a ferramenta <a class="linkGS" 
                                    href="https://classroom.google.com/h" target="_blank">Google Classroom</a>,
                                que os alunos da instituição fazem uso e estão familiarizados, por isso
                                usar um Layout semelhante, ficaria mais facil para os usuários (os própios alunos)
                                assimilarem as funcionalidades.
                            </p>
                        </div>
                    </details>

                </details>
                <details class="details-objetivo">
                    <summary class="titulo-sumary">Considerações finais</summary>
                    <p class="conteudo-sumary" id="texto-final">Smart Library foi o meu primeiro projeto, foi onde de fato comecei a desenvolver páginas Web e
                        ao mesmo tempo me descobrir como Designer de Interfaces. O processo de construção foi bastante gradual, desde as primeiras
                        telinhas desalinhadas até a plataforma final. Desenvolver Smart Library sem dúvidas foi um abridor de portas para todos os desenvoldores,
                        pois todos eramos inciantes, mas com esforço e muito estudo conseguimos entregar o melhor trabalho possível. 
                    </p>
                </details>
            </div>

            <div id="Cinemax" class="tabcontent">
                <!-- titulo do projeto -->
                <h1 class="titulo-projeto">Cinemax</h1>
                <h2 class="subtitulo-projeto">Aplicativo de Bilheteria Online</h2>
                <!-- sessoes -->
                <details class="details-objetivo">
                    <summary class="titulo-sumary">Objetivo</summary>
                    <p class="conteudo-sumary">O objetivo é...</p>
                </details>
                <details class="details-objetivo">
                    <summary class="titulo-sumary">Ferramentas ultilizadas</summary>
                    <p class="conteudo-sumary">As ferramentas ultilizadas são...</p>
                </details>
                <details class="details-objetivo">
                    <summary class="titulo-sumary">Usabilidade</summary>
                    <p class="conteudo-sumary" id="conteudo-sumary-usabilidade">esses foram os metodos ultilizados para
                        a usabilidade do projeto</p>

                    <details class="details-secundario">
                        <summary class="titulo-secundario-sumary">Fontes e cores</summary>
                        <p class="conteudo-secundario-sumary"> Porque usamos essas cres e fontes...</p>
                    </details>
                    <details class="details-secundario">
                        <summary class="titulo-secundario-sumary">Layout e navegação</summary>
                        <p class="conteudo-secundario-sumary">Porque usamos essa navegação..</p>
                    </details>
                </details>
                <details class="details-objetivo">
                    <summary class="titulo-sumary">Considerações finais</summary>
                    <p class="conteudo-sumary">Minha opiniçao sovre o projeto, o que ele acrescentou na minha experienci
                        (como programaador)..</p>
                </details>
            </div>

            <div id="Animals" class="tabcontent">
                <!-- titulo do projeto -->
                <h1 class="titulo-projeto">Animals</h1>
                <h2 class="subtitulo-projeto">Sistema de Adoçao de Pets</h2>
                <!-- sessoes -->
                <details class="details-objetivo">
                    <summary class="titulo-sumary">Objetivo</summary>
                    <p class="conteudo-sumary">O objetivo é...</p>
                </details>
                <details class="details-objetivo">
                    <summary class="titulo-sumary">Ferramentas ultilizadas</summary>
                    <p class="conteudo-sumary">As ferramentas ultilizadas são...</p>
                </details>
                <details class="details-objetivo">
                    <summary class="titulo-sumary">Usabilidade</summary>
                    <p class="conteudo-sumary" id="conteudo-sumary-usabilidade">esses foram os metodos ultilizados para
                        a usabilidade do projeto</p>

                    <details class="details-secundario">
                        <summary class="titulo-secundario-sumary">Fontes e cores</summary>
                        <p class="conteudo-secundario-sumary"> Porque usamos essas cres e fontes...</p>
                    </details>
                    <details class="details-secundario">
                        <summary class="titulo-secundario-sumary">Layout e navegação</summary>
                        <p class="conteudo-secundario-sumary">Porque usamos essa navegação..</p>
                    </details>
                </details>
                <details class="details-objetivo">
                    <summary class="titulo-sumary">Considerações finais</summary>
                    <p class="conteudo-sumary">Minha opiniçao sovre o projeto, o que ele acrescentou na minha experienci
                        (como programaador)..</p>
                </details>

            </div>

        </div>

    </div>
    <script src="/scripts/tabs.js"></script>
</body>

</html>