<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- styles -->
    <link rel="stylesheet" href="../styles/global.css">
    <link rel="stylesheet" href="../styles/smart-library/nav-smart.css">

    <!-- fav icons -->
    <link rel="apple-touch-icon" sizes="180x180" href="../images/favicons/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../images/favicon-16x16.png">


    <script src="https://kit.fontawesome.com/7a044f6aca.js" crossorigin="anonymous"></script>
    <title>Smart Library</title>
    
  </head>
  <body>
    <div class="nav">
        <i class="fa-solid fa-arrow-left"></i>
        <h2>Smart Library</h2>
    </div>
  </body>
</html>