.kit-ui {
    background-color: white;
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.kit-ui h1 {
    margin-top: 64px;
}

.kit-ui img {
    width: 50%;
    margin-top: 48px;
    object-fit: cover;
}

/* responsividade */
@media only screen and (max-width: 1300px) {
    .kit-ui img {
        width: 70%;
    }

}
@media only screen and (max-width: 840px) {
    .kit-ui img {
        width: 90%;
    }

}
@media only screen and (max-width: 65px) {
    .kit-ui img {
        width: 100%;
    }

}