.nav-projetos {
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: #201F2C;
    display: flex;
    align-items: center;
    z-index: 100;   
}

.nav-projetos h2 {
    font-size: 32px;
    margin-left: 32px;
    color: white;
}

.fa-arrow-left {
    touch-action: manipulation;
    font-size: 22px;
    margin-left: 200px;
    color: white;
}
/* responsividade */
@media only screen and (max-width:600px) {
    .nav-projetos {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .fa-arrow-left {
        margin: 0;
    }
 }

 @media only screen and (max-width:390px) {
    .nav-projetos h2 {
        font-size: 32px;
       
    }
 }

 @media only screen and (max-width:360px) {
    .nav-projetos h2 {
        font-size: 26px;
    }
    .fa-arrow-left {
        margin-left: 16px;
    }
 }
