.nav-projetos {
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: white;
    display: flex;
    align-items: center;
    z-index: 100;
    
}

.nav-projetos h2 {
    
    font-size: 42px;
    margin-left: 32px;
    color: #201F2C;
}

.fa-arrow-left {
    font-size: 22px;
    margin-left: 200px;
    color: #201F2C;
}

/* responsividade */

@media only screen and (max-width:600px) {
    .nav-projetos {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .fa-arrow-left {
        margin: 0;
    }
    
 }

 @media only screen and (max-width:390px) {
    .nav-projetos h2 {
        font-size: 32px;
       
    }
 }

 @media only screen and (max-width:360px) {
    .nav-projetos h2 {
        font-size: 28px;
    }
    .fa-arrow-left {
        
        margin-left: 16px;
        
    }
 }