.resume {
    width: 100%;
    min-height: 100vh;
    background-color: White;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.resume p {
    margin-top: 48px;
    font-size: 20px;
}

.items-resume {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 350px;
}

.items-resume h1 {
    position: relative;
    margin-top:64px;
}

.doodles {
    width: 30%;
    height: auto;
    object-fit: cover;
    margin-top: 64px;
    transition: transform 1s;
}

.doodles:hover {
    transform:scale(1.1);
}

@media only screen and (max-width:1440px) {
    .items-resume {
        margin: 0 200px;
    }  
}
@media only screen and (max-width:1300px) {
    .doodles {
        display: none;
    }
}
@media only screen and (max-width:1024px) {
    .items-resume {
        margin: 0 100px;
    }
}
@media only screen and (max-width:770px) {
    .items-resume {
        margin: 0 50px;
    }
    .resume p {
        font-size: 18px;
    }   
}
@media only screen and (max-width:500px) {
    .items-resume {
        margin: 0 16px;
    }  
}