.img-navegacao {
    display: flex;
    flex-direction: column;
} 
.navSmart {
    width: 800px;
    height: auto;
    margin-bottom: 16px;
    border-radius: 8px;
}
.linkGS{
    color: #EA4335;
}
#texto-final{
    text-indent: 28px;
    margin-bottom: 24px;
}