body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('..imges/pexels-photo-5623083.webp');
    background-size: 100%;
}

.container {
    display: flex;
    flex-direction: column;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1C171E;
    border-radius: 8px;
    padding: 48px 32px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

li {
    display: flex;
    flex-direction: column;
}

li label {
    color: white;
    margin-bottom: 8px;
    font-size: 20px;
}

li input {
    width: 344px;
    height: 40px;
    border: none;
    border-radius: 24px;
    background-color: white;
    color: #1C171E;
    margin-bottom: 24px;
    font-size: 18px;
    font-family: 'Share Tech Mono', monospace;
    padding-left: 10px;
    box-shadow: inset 4px 4px 15px 0px  rgba(32, 31, 44, 0.3);
}

li input [type=text]:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
    color: #686680;
    font-size: 18px;
    font-weight: 700;
}

.textarea {
    padding: 10px;
    background-color: white;
    border-radius: 8px;
    margin-bottom: 24px;
    width: 346px;
    height: 220px;
    max-width: 332px;
    min-width: 220px;
    max-height: 300px;
    min-height: 20px;
    box-shadow: 0 0 0 0;
    outline: 0;
    color: #1C171E;
    font-size: 18px;
    box-shadow: inset 4px 4px 15px 0px  rgba(32, 31, 44, 0.3);
}

.textarea:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
    color: #686680;
    font-size: 18px;
    font-weight: 700;
}

input[type=submit] { 
    width: 100%;
    height: auto;
    color: white;
    background-color: #FA4450;
    font-family: 'Share Tech Mono', monospace;
    font-size: 18px;
    font-weight: 600;
    margin-top: 8px;
    border-radius: 24px;
    padding: 16px 10px;
    cursor: pointer;
    text-align: center;
    box-shadow: 10px 0px 13px -7px #000000;
    align-self: center;
    touch-action: manipulation;
}

input[type=submit]:hover {
    background-color: #887589;
    color: white;
}

.foto-bg {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.sombra-bg {
    width: 100%;
    height: 100vh;
    position: absolute;
    background-color: rgba(19, 18, 52, 0.2);
    backdrop-filter: blur(6px);
}

.back {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-back {
    color: white;
    touch-action: manipulation;
}

.text-back {
    color: white;
    margin-left: 8px;
}
/* toast */
.toast {
    visibility: none;
    width: 420px;
    border-radius: 8px;
    height: 50px;
    background-color: #FA4450;
    z-index: 100;
    position: fixed;
    top: 0;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 0;
    transition: opacity .5s, top .5s, visibility .5s;
    
} 
/* toast */
.toast p {
    margin-left: 16px;
    color: white;
    font-weight: 600;
}

.toast-visible {
    top: 20px;
    opacity: 1;
}

.iconClose {
    color: white;
    width: 20px;
    margin-right: 16px;
    cursor: pointer;
    touch-action: manipulation;
}
/* responsividade */
@media only screen and (max-width:430px){
    li input {
    width: 268px;
    }
    .textarea {
        max-width: 250px;
        min-width: 220px;
    }
    .form-container {
        padding: 32px 32px;
    }


    .toast {
        width: 334px;
    }

}