footer {
    width: 100%;
    height: 70px;
    background-color: #1C171E;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer p {
    color: white;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 16px;
}