.page-freelas{
    background-color: white;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction:column;
    padding-top: 70px;
    align-items: center;
}

.titulo-freelas {
    color: #201F2C;
    align-items: center;
}

.container-freelas {
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin-top: 64px;
     margin-left: 48px;
}

.freelas {
    width: 400px;
    max-height: 400px;
    margin-right: 48px;
    padding-bottom: 32px;
    display: flex;
    flex-direction: column;
    background-color: #1C171E;
    align-items: center;
    border-radius: 8px;
    transition: transform .4s;
}

.freelas:hover {
    transform: scale(1.1);
}

.image-freelas{
    width: 100%;
    height: 282px;
    object-fit: cover;
    background-color: #F5F5F5;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.img-freelas {
    width: 100%;
    height: 282px;
    transform: scale(1.1);
    transition: transform .5s;
    object-fit: cover;
}

.img-freelas:hover {
    transform: scale(1.5);
}

.info-freelas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nome-freelas {
    color: white;
    margin-top: 24px;
    border-radius: 8x;
}

.description-freelas{
    color: white; 
    margin-top:16px;
}

.calling {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    padding-bottom: 100px;
}

.called {
    margin-top: 200px;
    font-size: 48px;
    color: #1C171E;
}

.called-link {
    margin-top: 24px;
    font-size: 32px;
    color: #1C171E;
    transition: color .5s;
    animation: calledBlink 1.5s infinite;
}@keyframes calledBlink {
    50%{
        color: #FA4450;
        transform: scale(1.1) scaleX(1.2);
    }  
}
/* responsividade */
@media only screen and (max-width: 1340px) {
    .container-freelas {
        flex-direction: column;
        margin: 0;
    }
    .titulo-freelas {
        margin-bottom: 64px;

    }
    .freelas {
        margin-right: 16px;
        margin-left: 16px;
        margin-bottom: 48px;
        width: 380px; 
    }
    .called{
        font-size: 32px;
        margin-left: 16px;
    }
}

@media  only screen and (max-width: 650px) {
    .called {
        font-size: 28px;
        text-align: center;
    }
  
}

@media  only screen and (max-width: 460px) {
    .freelas {
        width: 300px;
    }
    
}

@media only screen and (max-width: 460px) {
    .freelas {
        width: 300px;
    }
}
@media only screen and (max-width: 360px) {
    .freelas {
        width: 260px;
    }
}
