/* importando todos os estilos */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,700;1,400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Space+Mono:wght@400;700&display=swap');

@import 'about.css';
@import 'nav.css';
@import 'home.css';
@import 'projects.css';
@import 'details.css';
@import 'freelas.css';
@import 'contato.css';

html {
    scroll-behavior: smooth;
  }

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

ol, ul, li, a, p, button {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-weight: 700;
    font-size: 18px;;
    font-family: 'Ubuntu', sans-serif;
    color: #1C171E;
}

h1, h2 { 
    color: #1C171E;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 48px;
    font-family: 'Ubuntu Mono', monospace;
}

h2 {
    font-size: 32px;
    font-family: 'Ubuntu Mono', monospace;
}

h3 {
    color: #887589;
    font-size: 24px;
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}