@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&family=Ubuntu:ital,wght@0,300;0,400;0,500;1,300;1,400;1,700&display=swap');

body {
    --corPrimaria:#FDCB90;
    --corTexto: #201F2C;
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

ol, ul, li, a {
    text-decoration: none;
    list-style: none;
    font-weight: 700;
}

h1, h2, h3 {
    font-family: 'Share Tech Mono', monospace;
    
}