.page-home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    width: 100%;
    height: 100vh;
    margin-top: 70px;
}

.left-page {
    margin-left: 200px;
    background-color: #FFFFFD;
    margin-right: 24px;
}
.sub-description {
    margin-top: 16px;
}

.btn-read-more {
    width: 180px;
    margin-top: 24px;
    text-align: center;
    background-color: #201F2C;
    color: #E5E5E3;
    padding: 16px 0;
    border-radius: 24px;
    border: none;
    font-weight: 700;
    cursor: pointer;
    transition: background-color .5s;
}

.btn-read-more:hover {
    color: #201F2C;
    background-color:#FDCB90;
}


.right-page {
    width: 500px;
    height: 500px;
    margin-right: 200px;
   
    background-color: #FDCB90;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content:space-between;
   
}
.right-page:hover {
    animation: bgFoto 1s;
} @keyframes bgFoto {
    0%,100%{
        background-color: #FDCB90;
        transform: scale(1);
    }
    50%{
        background-color: #686680;
        transform: scale(1.2);
    }
}

.foto-perfil-home {
    width: 500px;
    height: auto;
    border-radius: 100%;
    margin-bottom: 50px;
}


